In [171]:
# data from https://ourworldindata.org

import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

# reading data into life expetancy dataframe
life_expectancy = pd.read_csv("life-expectancy.csv")

# deleting unneeded columns
del life_expectancy['Indicator Name']
del life_expectancy['Indicator Code']
del life_expectancy['Country Code']
del life_expectancy['2016']
life_expectancy = life_expectancy.iloc[:, :-1]
life_expectancy.index = life_expectancy['Country Name']
del life_expectancy['Country Name']

# removing countries without entries
life_expectancy = life_expectancy.dropna()

# unstacking the years, turning it into a dataframe from series and resetting indices to prepare for merge
life_expectancy = life_expectancy.stack()
life_expectancy = pd.DataFrame(life_expectancy)
life_expectancy = life_expectancy.reset_index()
life_expectancy = life_expectancy.rename(columns = {'level_1':'Year', 0:'Life Expectancy'})
life_expectancy['Year'] = life_expectancy['Year'].apply(np.int64) # making year values integers

# reading data for spending on healthcare
health_spending = pd.read_csv("hc-exp.csv")

# deleting unneeded columns
del health_spending['Country code']
health_spending = health_spending.rename(columns = {'Entity': 'Country Name'})

# defining years to merge on
years = np.arange(2002, 2014, 1)

# removing elements that are not in the years range
for i in range(len(health_spending.loc[:, 'Year'])):
    if health_spending.loc[i, 'Year'] not in years:
        health_spending.loc[i, 'Year'] = np.nan
        
health_spending = health_spending.dropna()
health_spending['Year'] = health_spending['Year'].apply(np.int64)

for i in range(len(life_expectancy.loc[:, 'Year'])):
    if life_expectancy.loc[i, 'Year'] not in years:
        life_expectancy.loc[i, 'Year'] = np.nan

life_expectancy = life_expectancy.dropna()
life_expectancy = life_expectancy['Year'].apply(np.int64)

       Country Name    Year  Life Expectancy
42            Aruba  2002.0        73.865244
43            Aruba  2003.0        73.968561
44            Aruba  2004.0        74.090854
45            Aruba  2005.0        74.228073
46            Aruba  2006.0        74.376195
47            Aruba  2007.0        74.526756
48            Aruba  2008.0        74.675732
49            Aruba  2009.0        74.818146
50            Aruba  2010.0        74.953537
51            Aruba  2011.0        75.081390
52            Aruba  2012.0        75.205756
53            Aruba  2013.0        75.328659
98      Afghanistan  2002.0        55.857195
99      Afghanistan  2003.0        56.235293
100     Afghanistan  2004.0        56.626317
101     Afghanistan  2005.0        57.027244
102     Afghanistan  2006.0        57.432561
103     Afghanistan  2007.0        57.833829
104     Afghanistan  2008.0        58.225024
105     Afghanistan  2009.0        58.603683
106     Afghanistan  2010.0        58.970829
107     Afghanistan  2011.0        59.327951
108     Afghanistan  2012.0        59.679610
109     Afghanistan  2013.0        60.028268
154          Angola  2002.0        46.711732
155          Angola  2003.0        47.393171
156          Angola  2004.0        48.003512
157          Angola  2005.0        48.538805
158          Angola  2006.0        49.007049
159          Angola  2007.0        49.435732
...             ...     ...              ...
13040  South Africa  2008.0        52.636024
13041  South Africa  2009.0        53.467098
13042  South Africa  2010.0        54.390756
13043  South Africa  2011.0        55.295659
13044  South Africa  2012.0        56.098317
13045  South Africa  2013.0        56.736585
13090        Zambia  2002.0        45.306659
13091        Zambia  2003.0        46.538634
13092        Zambia  2004.0        47.932390
13093        Zambia  2005.0        49.429390
13094        Zambia  2006.0        50.966610
13095        Zambia  2007.0        52.477146
13096        Zambia  2008.0        53.905634
13097        Zambia  2009.0        55.214171
13098        Zambia  2010.0        56.383854
13099        Zambia  2011.0        57.422195
13100        Zambia  2012.0        58.363317
13101        Zambia  2013.0        59.237366
13146      Zimbabwe  2002.0        40.679146
13147      Zimbabwe  2003.0        40.702488
13148      Zimbabwe  2004.0        41.059341
13149      Zimbabwe  2005.0        41.759610
13150      Zimbabwe  2006.0        42.810707
13151      Zimbabwe  2007.0        44.177756
13152      Zimbabwe  2008.0        45.804488
13153      Zimbabwe  2009.0        47.624659
13154      Zimbabwe  2010.0        49.574659
13155      Zimbabwe  2011.0        51.600366
13156      Zimbabwe  2012.0        53.643073
13157      Zimbabwe  2013.0        55.633000

[2820 rows x 3 columns]