In [126]:
# data from https://ourworldindata.org

from IPython.display import display

import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

# reading data into life expetancy dataframe
life_expectancy = pd.read_csv("life-expectancy.csv")

# deleting unneeded columns
del life_expectancy['Indicator Name']
del life_expectancy['Indicator Code']
del life_expectancy['Country Code']
del life_expectancy['2016']
life_expectancy = life_expectancy.iloc[:, :-1]
life_expectancy.index = life_expectancy['Country Name']
del life_expectancy['Country Name']

# removing countries without entries
life_expectancy = life_expectancy.dropna()

# unstacking the years, turning it into a dataframe from series and resetting indices to prepare for merge
life_expectancy = life_expectancy.stack()
life_expectancy = pd.DataFrame(life_expectancy)
life_expectancy = life_expectancy.reset_index()
life_expectancy = life_expectancy.rename(columns = {'level_1':'Year', 0:'Life Expectancy'})

# reading data for spending on healthcare
health_spending = pd.read_csv("hc-exp.csv")

# deleting unneeded columns
del health_spending['Country code']
health_spending = health_spending.rename(columns = {'Entity': 'Country Name'})

pd.concat((health_spending, life_expectancy))

,Country Name,"Health Expenditure, as % of national GDP",Life Expectancy,Year
0,Afghanistan,8.188353,NaN,2002
1,Afghanistan,9.300198,NaN,2003
2,Afghanistan,9.247743,NaN,2004
3,Afghanistan,8.753069,NaN,2005
4,Afghanistan,8.582841,NaN,2006
5,Afghanistan,8.418886,NaN,2007
6,Afghanistan,9.609610,NaN,2008
7,Afghanistan,8.483824,NaN,2009
8,Afghanistan,8.456318,NaN,2010
9,Afghanistan,8.065155,NaN,2011
10,Afghanistan,8.479199,NaN,2012
11,Afghanistan,8.099593,NaN,2013
12,Albania,9.556713,NaN,1995
13,Albania,7.431974,NaN,1996
14,Albania,7.568100,NaN,1997
15,Albania,6.943299,NaN,1998
16,Albania,6.868190,NaN,1999
17,Albania,6.255984,NaN,2000
18,Albania,6.000144,NaN,2001
19,Albania,6.481696,NaN,2002
20,Albania,6.267007,NaN,2003
21,Albania,6.381567,NaN,2004
22,Albania,6.115982,NaN,2005
23,Albania,5.860373,NaN,2006
24,Albania,6.105261,NaN,2007
25,Albania,5.869416,NaN,2008
26,Albania,5.791337,NaN,2009
27,Albania,5.335035,NaN,2010
28,Albania,5.714664,NaN,2011
29,Albania,5.627439,NaN,2012
...,...,...,...,...
13130,Zimbabwe,NaN,61.925317,1986
13131,Zimbabwe,NaN,61.753805,1987
13132,Zimbabwe,NaN,61.322634,1988
13133,Zimbabwe,NaN,60.612878,1989
13134,Zimbabwe,NaN,59.583073,1990
13135,Zimbabwe,NaN,58.197171,1991
13136,Zimbabwe,NaN,56.491976,1992
13137,Zimbabwe,NaN,54.538707,1993
13138,Zimbabwe,NaN,52.422122,1994
13139,Zimbabwe,NaN,50.239000,1995
13140,Zimbabwe,NaN,48.087634,1996
13141,Zimbabwe,NaN,46.065902,1997
13142,Zimbabwe,NaN,44.272585,1998
13143,Zimbabwe,NaN,42.791488,1999
13144,Zimbabwe,NaN,41.689439,2000
13145,Zimbabwe,NaN,40.996805,2001
13146,Zimbabwe,NaN,40.679146,2002
13147,Zimbabwe,NaN,40.702488,2003
13148,Zimbabwe,NaN,41.059341,2004
13149,Zimbabwe,NaN,41.759610,2005
13150,Zimbabwe,NaN,42.810707,2006
13151,Zimbabwe,NaN,44.177756,2007
13152,Zimbabwe,NaN,45.804488,2008
13153,Zimbabwe,NaN,47.624659,2009
13154,Zimbabwe,NaN,49.574659,2010
13155,Zimbabwe,NaN,51.600366,2011
13156,Zimbabwe,NaN,53.643073,2012
13157,Zimbabwe,NaN,55.633000,2013
13158,Zimbabwe,NaN,57.498317,2014
13159,Zimbabwe,NaN,59.161073,2015